#!/bin/sh
xrdb -load -I$HOME ~/.Xresources
# dwmblocks &
# Picom configured for proprietary NVIDIA drivers
picom -b --backend glx --vsync --xrender-sync-fence --glx-no-rebind-pixmap --use-damage --glx-no-stencil
# Load custom ICC profile for Xiaomi Mi Notebook Pro
# ICC profile itself can be found on the ArchWiki page for this laptop
#dispwin -display :0 /usr/share/color/icc/colord/NV156FHM_N61.icm
setbg &
dunst &
# Speed up keyboard movement
# (if the above sentence doesn't make any sense, play around 
#  with this command and notice how the text cursor speed changes)
xset r rate 300 50 &
# Launch applets
# ( if you're using dwm, requires systray patch)
nm-applet &
# pa-applet &
xautolock -time 15 -locker "gllock" &
